<!DOCTYPE html>
<html lang="en">
<head>
  <title>Login</title>
  <style>
  body {
    background-color: #D91E18;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .logo {
    padding-top: 75px;
    padding-bottom: 75px;
  }
  </style>
</head>
<body>

  <img class="logo" src="./static/images/Special_Olympics_logo_white.png" width="300px"/>
  <a href="/login/facebook"><img src="./static/images/fb.png"/></a>
</body>
</html>
